<footer id="contact">
    <div class="footer">
        <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright 2022 | All Right Reserved</a></p>
                </div>
            </div>
        </div>
        </div>
    </div>
</footer>